.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10000px;
  background: var(--primary-color);
  color: white;
  padding: 12px;
  transition: all 0.3s, transform 0.1s;
  cursor: pointer;

  @media screen and (max-width: 768px) {
    padding: 10px;
  }

  .nav-item-icon {
    width: 40px;
    height: 40px;
    transition: all 0.3s;

    @media screen and (max-width: 768px) {
      width: 30px;
      height: 30px;
    }
  }

  &:active {
    transform: scale(0.95);
  }
}

.nav-item_active {
  padding: 18px;

  @media screen and (max-width: 768px) {
    padding: 16px;
  }
  .nav-item-icon {
    scale: 1.2;
  }
}

.nav-item_active_near {
  padding: 14px;

  @media screen and (max-width: 768px) {
    padding: 12px;
  }

  .nav-item-icon {
    scale: 1.1;
  }
}

.spider {
  background-image: radial-gradient(transparent 1px, #111 1px);
  background-size: 4px 4px;
  /* box-shadow: 0 0 5px 10px #ffffff; */
  border-bottom: 1px solid #111;
  box-shadow: 0 0 1px 1px #111;
}
